<main class="main">

    <div class="_ce892">
        <div class="_20286">
          <div class="section-two df">
            <h1>The trips of your choice for little money</h1>
            
            <div class="form df">
              <form class="search-form df padding" 
              [formGroup]="searchForm" (ngSubmit)="onSubmit()">
                <div class="fromto df">
                  <select formControlName="cityFrom" 
                  [ngClass]="searchForm.controls['cityFrom'].value == '' ? 'selected' : ''">
                  <!-- <option selected class="default">{{cityFrom}}</option> -->
                  <option class="default" label="From where?"></option>
                    <option *ngFor="let city of cities" class="link">{{city}}</option> 
                  </select>
                 
                  <div class="vl"></div>
                </div>
                
                <div class="fromto df">
                  <select formControlName="cityTo"
                  [ngClass]="searchForm.controls['cityTo'].value == '' ? 'selected' : ''">
                    <!-- <option selected class="selected default">{{cityTo}}</option> -->
                    <option class="default" label="To where?"></option>
                    <option *ngFor="let city of cities" class="link">{{city}}</option> 
                  </select>
                  <div class="vl"></div>
                </div>
      
                <div class="date-number df">
                  <div class="date df">
                    
                    <label (click)="showDropCalendar()">{{ selected | date:'d MMMM':"":"az-Latn" }}</label>
                    <input formControlName="selected" [(ngModel)]="selected" (click)="showDropCalendar()" [attr.disabled]="true">
                    <div class="vl"></div>
                    <div *ngIf="isDropDownShowing" id="myDropdown" class="dropdown-content">
                      <mat-calendar [(selected)]="selected" (selectedChange)="showDropCalendar()"></mat-calendar>
                    </div>
    
                  </div>
                  <div class="number df">
                    <mat-icon (click)="handleClick('subtract')">remove_circle_outline</mat-icon>
                    <input formControlName="numberOfPass" [(ngModel)]="numbOfPassengers" [readonly]="true">
                    <mat-icon (click)="handleClick('add')">add_circle_outline</mat-icon>
                  </div>
                </div>
      
                <div class="submit">
                  <input type="submit" class="search rdys2" value="Axtar">
                </div>
              </form>
            </div>
          </div>
        </div>

    </div>
  
    <div class="home-content">
      <article class="col-1">
        <div class="col-1-content">
            <ul class="col1ulist">
              <li class="col1list">
                <img src="assets/statistics.png">
                <p class="bold">
                    Dayanacaqlarda vaxt itirmə
                </p>
                <p class="normal">Gedəcəyin yerə, tarixə uyğun axtarış et ve çoxlu variantlar arasından sənə ən uyğun olanı seç.
                </p>
              </li>
              <li class="col1list">
                <img src="assets/authentication.png">
                <p class="bold">Səyahət edərkən pul qazanmaq olar</p>
                <p class="normal">
                    Rayonlar arası taksi xidməti göstərirsən? Müştərini dayanacaqda gözləmək yerinə internetdə onun səni tapmasını
                     istəyirsən? O zaman gedəcəyin yeri və tarixi qeyd edərək səyahətçinin səni rahatlıqla tapmasına nail ol.
                </p>
              </li>
              <li class="col1list">
                <img src="assets/zigzag.png">
                <p class="bold">Səyahət edərkən pul qazanmaq olar</p>
                <p class="normal">Avtomobilinlə tək yol gedirsən və özünlə yol yoldaşı götürə bilərsən? Və bunu edərkən həm də 
                    pul qazanmaq istəyirsən? O zaman gedəcəyin yeri və tarixi qeyd edərək sənə uyğun yol yoldaşı tap.
                </p>
              </li>
            </ul>
        </div>
      </article> 

      <div class="jfvRAC">
        <div class="kyEZOE">
          <div class="hjUDrU">
            <div>
              <img src="assets/reliability.png" alt="" srcset="">
            </div>

            <div class="sc-f242337d-2 jmwggo">
              <span>Help us keep you safe from scams</span>
              <p>At BlaBlaCar, we're working hard to make our platform as secure as it can be. But when scams do happen, 
                we want you to know exactly how to avoid and report them. Follow our tips to help us keep you safe.
              </p><div class="sc-f242337d-7 kFcrJu">
                <a href="/scam">
              <span>
                <span class="oi1bgt6">Learn more</span>
              </span></a></div></div>
          </div>
          </div>
          
      </div>
      
    </div>
    <h1 *ngIf="user$ | async as user">Welcome to our app, {{user.displayName}}!</h1>
  </main>