<div class="width100">
  <div class="nav">
    <div class="nav-content df">
        <div class="logo df" routerLink="/">
            Bizlə<span [ngStyle]="{'color': 'red'}">Yol</span>
        </div>
        <div class="user-login df">
            <div class="user-login-2 df">
              <a class="search-icon element df" routerLink="search" *ngIf="searchIcon">
                <div class="search-label label">Axtar</div>
                <img class="nav-icons" src="assets/search.png">                
              </a>
              <a class="publish-ride element df" routerLink="publish-ride" (click)="setUrl()">
                <div class="search-label label marginL">Publish a ride</div> 
                <img class="nav-icons" src="assets/add.png">
              </a>
            </div>
            <div class="profile-photo">
                <ng-container *ngIf="authService.currentUser$ | async as user; else loginButton">
                  <div [matMenuTriggerFor]="userMenu" class="container element df">
                    <img src="assets/user.png">
                    <!-- {{showProfileCircle ? user.displayName : ''}} -->
                    <mat-icon>keyboard_arrow_down</mat-icon>
                  </div>
                </ng-container>
  
                <ng-template #loginButton>
                  <button mat-button routerLink="login">
                    <mat-icon>login</mat-icon>
                    Login
                  </button>
                </ng-template>
            </div>
        </div>
    </div>
  </div>
  
  <div class="top-60">
    <router-outlet></router-outlet>
  </div>

  <app-footer></app-footer>
  
  <mat-menu #userMenu="matMenu" class="mat-menu">
    <a mat-menu-item routerLink="publish-ride"  (click)="setUrl()">Publish a ride</a>
    <a mat-menu-item *ngIf="authService.currentUser$" routerLink="rides">Elanlarim</a>
    <a mat-menu-item (click)="logout()">Profil</a>
    <button mat-menu-item (click)="logout()">Log out</button>
  </mat-menu>
</div>