/* You can add global styles to this file, and also import other style files */

// html,
// body {
//   height: 100%;
// }

// @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shantell+Sans:wght@800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: rgb(246, 246, 250);
  font-family: Roboto, "Helvetica Neue", sans-serif;
  min-height: 100vh;
  color: black;
}

// global styling

.top-60 {
  position: relative;
  top: 66px;
}

mat-icon,
select,
.user-login-2 .element {
  cursor: pointer;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  align-items: center;
}

.df {
  display: flex;
}

.width100 {
  width: 100%;
}

.center,
.from,
.to,
.date,
.number,
.vl,
.swap-btn,
.removeWarning {
  display: flex;
  justify-content: center;
  align-items: center;
}

:host ::ng-deep .search-form.ng-untouched {
  select {
    &:focus {
      background: #ffffff;
    }
  
    &:active {
      background: #ffffff;
    }
  }
}

select {
  &:focus {
    background: #ffffff;
  }

  &:active {
    background: #ffffff;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(109, 113, 131);
  border-radius: 10px;
}

.dropdown-content {
  position: absolute;
  display: block;
  background-color: rgb(240, 247, 250);
  width: 260px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 100000;
  color: #000000;
  top: 64px;
  border-radius: 10px;
  animation: 0.5s 1 fadeIn;

  mat-calendar {
    color: rgb(0, 162, 255);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.search {
  background-color: rgb(38, 148, 238);
  font-weight: 500;
  font-size: 18px;
  color: rgb(255, 255, 255);
  cursor: pointer;

  &:hover {
    background-color: rgb(57, 106, 146);
  }
}

input {
  font-size: 16px;
}

.vl {
  position: relative;
  height: 90%;
  border-left: 1px solid rgb(233, 233, 233);
  margin: auto 0 auto 14px;
}

.kirk-item-right div {
  display: inline;
  color: #797979;
}

.date-input input,
.date input {
  display: none;
}

label {
  font-size: 22px;
}

.search-label {
  border: 1px solid #505370;
  padding: 8px 15px;
  border-radius: 3px;
  color: #000000;
}  

.search-label.marginL {
  border: 1px solid #505370;
  background-color: #505370;
  color: #ffffff;
}

.form-container {
  display: flex;
  position: relative;
  max-width: 440px;
  margin: auto;
  background: #ffffff;
  padding: 18px;
  border-radius: 6px;
  flex-direction: column;
  margin-top: 10px;

  mat-form-field {
    width: 100%;
  }

  .center {
    text-align: center;
    margin-top: 16px;
  }

  .sign-up-link{
    font-size: 1.2rem;
    margin-left: 8px;
  }
}

.signUpBtn{
  border: none;
  color: white;
  background-color: #fa6b6b;
  font-size: 14px;
  padding: 12px 30px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;

  &:hover{
    background-color: rgb(57, 70, 119);
  }
}

.modal {
  display: block; 
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 66px;
  width: 100%;
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.8);
}

.section-two {
  position: relative;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  width: 984px;
  justify-content: space-around;
  height: 100%;
}

// app component (navbar)

.nav {
  position: fixed;
  height: 66px;
  // background: #101f6812;
  background-color: rgb(255, 255, 255);
  top: 0;
  z-index: 200;
  width: 100%;
  box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.25);

  .nav-content {
    position: relative;
    max-width: 1030px;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    margin: auto;

    .logo {
      position: relative;
      font-family: "Shantell Sans", cursive;
      font-size: 34px;
      height: 100%;
      cursor: pointer;
      padding-left: 16px;
      color: #11141e;
      // background: -webkit-linear-gradient(#49ee83, rgb(11, 55, 232));
      // background-clip: text;
      // -webkit-text-fill-color: transparent;
      align-items: center;
      font-weight: 800;
    }

    .user-login {
      align-items: center;
      height: 100%;
      justify-content: space-around;

      .container {
        margin-left: 10px;
        cursor: pointer;

        img {
          margin: 0 5px;
        }
      }
    }

    .user-login .user-login-2 {
      justify-content: space-between;
    }

    .search-icon {
      margin-right: 15px;

      .element {
        align-items: center;
        justify-content: space-around;
      }
    }
  }
}

// home page styling

// @media screen and (min-width: 1024px) {
//     ._20286 {
//         height: 300px;
//     }
// }

._ce892 {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;

  ._20286 {
    position: relative;
    display: flex;
    align-items: center;
    background-color: rgb(15 96 120);
    width: 100%;
    background-image: url("./assets/pattern4_1.png");
    background-blend-mode: multiply;
    min-height: 250px;
    height: 300px;
  }
}

.section-two h1 {
  font-size: 48px;
  color: #ffffff;
  font-weight: 500;
  padding: 0 10px;
  line-height: normal;
  margin-top: 40px;
}

.form {
  position: relative;
  width: 100%;
  border: none;
  outline: none;
  height: 60px;
  padding: 0 20px;

  input,
  select {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
  }
}

.search-form {
  flex-direction: row;
  width: 100%;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  border-radius: 12px;
  outline: none;
  overflow: hidden;
  background-color: #ffffff;
  height: 100%;

  .fromto {
    flex: 4;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;

    option {
      color: #000000;
    }

    .selected {
      color: gray;
      background-color: #ffffff;
    }
  }

  select {
    font-size: 18px;
    height: 100%;
  }

  .date-number {
    flex: 6;

    .date {
      flex: 4;

      label {
        width: 100%;
        cursor: pointer;
      }
    }

    .number {
      flex: 2;

      input {
        margin: 0 5px;
        text-align: center;
        padding: 0;
        width: 30px;
        font-size: 22px;
      }

      mat-icon {
        color: rgb(148, 185, 214);
        font-size: 28px;
        width: 30px;
        height: 30px;

        &:hover {
          color: rgb(42, 157, 246);
        }
      }
    }
  }

  .submit {
    position: relative;
    flex: 3;

    input {
      height: 100%;
      border: none;
    }
  }
}




// search-result, search and my-rides common

.search-result {
  display: flex;
  flex-flow: column;
  justify-content: stretch;
  gap: 8px;
  margin: 0 auto;
  font-weight: 500;
  padding: 0 40px;
  max-width: 860px;
}

.search-title-content{
  flex-direction: column;
  justify-content: center;
  padding: auto;
}

.section-one.search-component{
  height: 100px;
  margin: auto;
}

.hWztFd > li > * {
  padding-left: 24px;
  padding-right: 24px;
}

.fJACZc > * {
  display: flex;
}

.fJACZc {
  min-height: 32px;
}

.departure-time{
  display: flex;
  flex-direction: column;
  padding-top: 8px;
}

.departure-time .hour{
  font-weight: 400;
}

.direction-line {
  position: relative;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  min-height: 32px;
  margin: 0px 8px;
  width: 8px;
  flex-shrink: 0;
}

.eoVCJC {
  width: 4px;
  height: calc(13px);
  background: transparent;
}

.boLthe {
  position: absolute;
  top: 12px;
  left: 50%;
  transform: translateX(-50%);
}

.cmKBJw {
  box-sizing: border-box;
  width: 10px;
  height: 10px;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(5, 71, 82);
  border-radius: 50%;
}

.jSFBDi:last-child {
  flex: 1 1 0%;
}

.jSFBDi {
  width: 4px;
  height: calc(13px);
  background: rgb(5, 71, 82);
}

.departure-city {
  position: relative;
  flex: 1 1 0%;
  padding: 8px 0px;
}

.search-result-card {
  place-content: center;
  cursor: pointer;
  transition: box-shadow 0.5s ease-in-out;
  border-radius: 5px;
  background: linear-gradient(to left, #edf3ed, #e5e6f4);
  width: 100%;
  max-width: 590px;
  border: 1px dotted rgb(180, 180, 180);
  height: 186px;
  position: relative;
  transition: all 0.3s ease-in-out;
}


.ggbPcE.kirk-avatar--image img {
  border-radius: 9999px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ggbPcE {
  box-sizing: border-box;
  position: relative;
  border-radius: 9999px;
  width: 48px;
  height: 48px;
}

.direction-line.bottom {
  margin-left: 49px;
}

.search-result-list {
  isolation: isolate;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 15px;
  width: 100%;
  align-content: end;
}

.search-result-card .clickable-card{
  margin: 0 15px;
  display: block;
}

.card-content {
  height: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.card-content-up {
  display: flex;
  flex-direction: row;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.card-content-upleft {
  min-width: 0px;
  position: relative;
  left: -24px;
}

.card-content-upright {
  display: block;
  flex-shrink: 0;
  padding-top: 8px;
  max-width: 80px;
  white-space: nowrap;
  text-align: left;
}


.card-content-down{
  padding: 8px 0px 0px;
}


.card-content-down {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  flex: 1 1 0%;
  border: 0px;
  background: none;
  white-space: pre-line;
}


.card-content-down .kirk-item-leftWrapper {
  display: flex;
  flex: 1 1 0%;
  -webkit-box-flex: 1;
  flex-grow: 1;
  -webkit-box-align: center;
  align-items: center;
}

.card-content-down .kirk-item-leftAddon {
  margin-right: 16px;
  color: rgb(5, 70, 82);
}


.card-content-down .kirk-item-leftText {
  word-break: break-word;
  flex: 1 1 0%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.card-content-down .kirk-item-leftAddon, .card-content-down .kirk-item-rightAddon {
  flex-shrink: 0;
  min-width: 24px;
}

.search-result-single{
  display: flex;
  justify-content: center;
}

p {
  font-size: 16px;
  color: rgb(22, 55, 104);
}


// search-result separate

.search-title-route{
  font-size: 16px;
  color: rgb(138, 138, 138);
  font-weight: 500;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.search-title-date{
  font-size: 20px;
  color: rgb(88, 88, 88);
  font-weight: 600;
  margin-bottom: 15px;
  text-align: left;   
}

.search-form-short{
  display: none;
  cursor: pointer;
  width: 100%;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  border-radius: 12px;
  outline: none;
  overflow: hidden;
  background-color: #ffffff;
  text-align: left;
  align-items: center;
  justify-content: space-between;
}

.search-form-short .df{
  align-items: center;
}

.search-form-short .df mat-icon{
  margin: 0 15px;
  font-size: 28px;
}

.changeFltrBtn{
  margin-right: 20px;
  background: none;
  border: none;
  font-size: 14px;
  color: rgb(30, 165, 233);
  cursor: pointer;
  font-weight: 500;
  text-shadow: 1px 1px rgb(236, 236, 236);
}

@media screen and (max-width: 959px){

  .search-result-list {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
  }

  .search-result-card {
    margin: 0;
}
}


@media screen and (max-width: 900px){
   
.section-two h1{
  font-size: 30px;
}

}


@media screen and (max-width: 800px){ 
  // for both search-result and search
  .dropdown-content {
    top: 130px;
  }

  .form{
    padding: 0 10px;
}
.modal{
    top: 60px;
}

.search-form-short{
    display: flex;
}

.search-form{
  flex-direction: column;
  height: 170px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.62) 0px 2px 16px 0px;
}

.dontshow{
    display: none;
}
.section-one{
  background-size: cover;
}

.home-content{
  position: absolute;
  top: 350px;
}

.section-two h1{
  font-size: 26px;
  margin-bottom: -20px;
}

.search-result {
  padding: 0 20px;
}
}

@media screen and (min-width: 768px) {
  .nav-icons {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .label {
    display: none;
  }  
}

@media (max-width: 590px){
  .search-result{
      margin: 0;
  }

  .search-result {
      padding: 0 20px;
  }
}


